{% extends "base.html" %}
    {% block descrizione %}
    <div class="descrizione-ospedale">
        <h2>Ospedale “Giovanni Giorgi” di Brindisi</h2>
        <p>
            L’Ospedale G. Giorgi è una struttura sanitaria moderna e accogliente, impegnata a garantire
            cure di alta qualità a tutta la comunità. Dotato di reparti specialistici come medicina
            interna, chirurgia, pediatria, ostetricia e pronto soccorso, l’ospedale si distingue per
            l’attenzione al paziente, l’innovazione tecnologica e la professionalità del personale medico
            e infermieristico.
        </p>
        <p>
            L’ospedale promuove la prevenzione e l’educazione sanitaria, offrendo programmi di screening,
            campagne informative e supporto psicologico. L’ambiente è pensato per garantire comfort e sicurezza
            ai pazienti, con spazi luminosi, aree di accoglienza e servizi dedicati alle famiglie.
        </p>
        <p>
            Grazie a un approccio multidisciplinare e a collaborazioni con centri di ricerca e università,
            l’Ospedale G. Giorgi rappresenta un punto di riferimento per la salute del territorio, con un
            forte impegno nella cura, nella formazione e nell’innovazione medica.
        </p>
    </div>

    {% endblock %}